.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
    height: 65px;
    color: white;
    padding: 20px;
}

.header__image {
    height: 100%;
    margin-right: 6px;
}

.header__name {
    font-size: 16px;
}

.header__info {
    font-size: 12px;
    margin-left: auto;
}